.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  padding-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 1;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid #000;

  outline: none;
  background: transparent;

  width: 100%;
  font-size: 16px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  padding: 8px 0;
  cursor: pointer;
}

.modal__legend {
  padding-bottom: 12px;
  font-weight: 700;
}

.modal__radio-input {
  margin-right: 8px;
  cursor: pointer;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__label {
  padding-bottom: 24px;
  font-weight: 700;
}

.modal__label.modal__label_type_radio {
  padding-bottom: 8px;
}

.modal__submit {
  height: 36px;
  width: 124px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 24px;
  padding: 0;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: black;
  cursor: pointer;
}
