.toggle-switch {
  width: 56px;
  height: 28px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  box-sizing: border-box;

  box-shadow: inset 0 0 0 2px #7a7a7a;
  overflow: hidden;
}

.toggle-switch__checkbox {
  opacity: 0;
  position: absolute;
  inset: 0;
  margin: 0;
  cursor: pointer;
}

.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  transition: all 0.3s;
  z-index: 2;
}

.toggle-switch__text {
  position: absolute;
  top: 0;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  z-index: 2;
  line-height: 1;
  font-weight: 700;
}

.toggle-switch__text_F {
  left: 0;
}

.toggle-switch__text_C {
  right: 0;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__text_color_white {
  color: white;
}

/* tips on toggle hover effects
transform: translateX(... add values in here)
mix-blend-mode: ...add values in here */
