.cards__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
