.weather {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cards__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
  margin: 0 0 34px;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  justify-content: start;
  gap: 20px;
}
