.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__add-clothes-btn {
  margin: 0;
  border: hidden;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}
