.sidebar {
  margin-right: 116px;
  top: 135px;
}

.sidebar__user-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin: 0;
}
