.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 0;
  margin-top: 40px;

  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

  color: rgba(0, 0, 0, 0.5);
}

.footer__text {
  margin: 0;
}

.footer__year {
  margin: 0;
}
