@import url(./vendor/normalize.css);
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./vendor/fonts/cabinet-grotesk/fonts/CabinetGrotesk-Regular.woff2")
      format("woff2"),
    url("./vendor/fonts/cabinet-grotesk/fonts/CabinetGrotesk-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./vendor/fonts/cabinet-grotesk/fonts/CabinetGrotesk-Medium.woff2")
      format("woff2"),
    url("./vendor/fonts/cabinet-grotesk/fonts/CabinetGrotesk-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./vendor/fonts/cabinet-grotesk/fonts/CabinetGrotesk-Bold.woff2")
      format("woff2"),
    url("./vendor/fonts/cabinet-grotesk/fonts/CabinetGrotesk-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
}
